@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-SemiBold.eot");
  src: url("../fonts/YekanBakh-SemiBoldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-SemiBold.woff2") format("woff2"), url("../fonts/YekanBakh-SemiBold.woff") format("woff"), url("../fonts/YekanBakh-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Bold.eot");
  src: url("../fonts/YekanBakh-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Bold.woff2") format("woff2"), url("../fonts/YekanBakh-Bold.woff") format("woff"), url("../fonts/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Black.eot");
  src: url("../fonts/YekanBakh-Blackd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Black.woff2") format("woff2"), url("../fonts/YekanBakh-Black.woff") format("woff"), url("../fonts/YekanBakh-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Bold_1.eot");
  src: url("../fonts/YekanBakh-Bold_1d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Bold_1.woff2") format("woff2"), url("../fonts/YekanBakh-Bold_1.woff") format("woff"), url("../fonts/YekanBakh-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh ExtraBlack';
  src: url("../fonts/YekanBakh-ExtraBlack.eot");
  src: url("../fonts/YekanBakh-ExtraBlackd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-ExtraBlack.woff2") format("woff2"), url("../fonts/YekanBakh-ExtraBlack.woff") format("woff"), url("../fonts/YekanBakh-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Light.eot");
  src: url("../fonts/YekanBakh-Lightd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Light.woff2") format("woff2"), url("../fonts/YekanBakh-Light.woff") format("woff"), url("../fonts/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-ExtraBold.eot");
  src: url("../fonts/YekanBakh-ExtraBoldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-ExtraBold.woff2") format("woff2"), url("../fonts/YekanBakh-ExtraBold.woff") format("woff"), url("../fonts/YekanBakh-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Regular.eot");
  src: url("../fonts/YekanBakh-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Regular.woff2") format("woff2"), url("../fonts/YekanBakh-Regular.woff") format("woff"), url("../fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-SemiBold_1.eot");
  src: url("../fonts/YekanBakh-SemiBold_1d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-SemiBold_1.woff2") format("woff2"), url("../fonts/YekanBakh-SemiBold_1.woff") format("woff"), url("../fonts/YekanBakh-SemiBold_1.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url("../fonts/YekanBakh-Thin.eot");
  src: url("../fonts/YekanBakh-Thind41d.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanBakh-Thin.woff2") format("woff2"), url("../fonts/YekanBakh-Thin.woff") format("woff"), url("../fonts/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body,
html,
* {
  font-family: 'Yekan Bakh' !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'yekan bakh';
  letter-spacing: -1px;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #F4F5F7;
  scroll-behavior: smooth !important;
}

::placeholder {
  color: #CFD9E9;
  opacity: 1;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto !important;
  height: auto !important;
  font-weight: 700 !important;
  letter-spacing: -1px !important;
  font-family: "Yekan Bakh" !important !important;
  color: #354459 !important;
  background: linear-gradient(45deg, #FFC400, #ffc800);
  padding: 12px 40px !important;
  font-size: 18px !important;
  box-shadow: none !important;
  text-decoration: none !important;
  border-radius: 15px !important;
  transition: all .2s ease-in-out !important;
}

.button i,
.button svg {
  font-weight: 700 !important;
  font-size: 22px;
}

.button:hover {
  transform: scale(98%);
  box-shadow: 0 0 0 10px rgba(255, 196, 0, 0.2) !important;
}

.input {
  border: none;
  display: flex;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #CFD9E9;
  resize: none;
  transition: all 0.2s ease-out;
  color: #fdfeff !important;
}

.progress-wrapper {
  width: 90%;
  margin: 25px 0;
}

.progress-wrapper .progress-title {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 18px;
}

.progress-wrapper .progress-title .name {
  color: #354459;
  font-weight: bold;
}

.progress-wrapper .progress-title .level {
  color: #9C9C9C !important;
}

.progress {
  direction: ltr;
  background-color: #f1f1f1;
  height: 5px;
}

.progress .progress-bar {
  border-radius: 500px;
  background: #FFC400;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 100px;
  margin-bottom: 55px;
  font-size: 36px;
  position: relative;
  color: #284258;
  font-weight: 900;
  letter-spacing: -2px;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: -28px;
  width: 10%;
  height: 8px;
  background-color: #FFC400;
}

@media screen and (max-width: 768px) {
  .section-title {
    justify-content: center;
    text-align: center;
    font-size: 22px;
  }
}

.navbar-wrapper {
  direction: rtl;
  position: fixed !important;
  margin: 0 auto;
  z-index: 1000;
  transition: 0.2s ease-in-out;
  top: 1.5rem;
}

.navbar-wrapper .navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  margin: 0 auto;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  background: rgba(164, 164, 164, 0.52) !important;
  box-shadow: 0 4px 30px rgba(123, 123, 123, 0.1) !important;
  backdrop-filter: blur(9.5px) !important;
  -webkit-backdrop-filter: blur(9.5px) !important;
  border: 1px solid rgba(193, 193, 193, 0.3) !important;
}

.navbar-wrapper .navbar .navbar-toggler {
  border: none !important;
}

.navbar-wrapper .navbar .navbar-toggler:focus {
  color: transparent !important;
}

.navbar-wrapper .navbar .navbar-toggler i {
  font-size: 28px;
  color: #fff !important;
}

.navbar-wrapper .navbar .logo {
  width: 100px;
}

.navbar-wrapper .navbar .nav-item a {
  padding-left: 20px;
  color: #fff !important;
}

@media screen and (max-width: 991px) {
  .navbar-wrapper .navbar .nav-item {
    margin-top: 15px;
  }
  .navbar-wrapper .navbar .nav-item a {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  .navbar-wrapper .navbar .nav-item a:hover {
    color: #354459 !important;
    background-color: #FFC400;
  }
}

.scrollbar {
  position: absolute;
  height: auto;
  bottom: 3rem;
  z-index: 1;
  left: 50%;
  margin-left: -50px;
}

.scrollbar .scroll-img {
  width: 100px;
  height: auto;
  cursor: pointer;
  object-fit: cover !important;
  animation: scrollButtonAnim 1.2s infinite alternate-reverse !important;
}

@keyframes scrollButtonAnim {
  0% {
    transform: translateY(5);
  }
  100% {
    transform: translateY(25px);
  }
}

.banner {
  transition: all 0.2s ease-in-out;
}

.banner:hover {
  transform: translateY(-7px);
}

.banner:active {
  transform: scale(95%);
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item {
  margin: 0 5px;
  font-weight: 700;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  background-color: #354459;
  font-size: 22px;
  border: none !important;
  transition: all 0.2s ease;
}

.nav-tabs .nav-item .active {
  transform: scale(95%);
  background-color: #FFC400 !important;
  box-shadow: 0px 8px 70px 5px rgba(255, 196, 0, 0.4);
  color: #354459 !important;
}

.carousel {
  width: 60% !important;
  height: 100% !important;
  margin: 0 auto !important;
}

.carousel video {
  border-radius: 15px !important;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-color: #354459;
  border-radius: 5px;
}

.carousel .carousel-indicators [data-bs-target] {
  background-color: #FFC400;
  height: 5px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 150px !important;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide a img {
  display: block;
  width: auto;
  height: 100px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.swiper-slide a img:hover {
  filter: grayscale(0%);
}

.videoGallery {
  padding: 45px !important;
  background: url("../image/video-gallery/BannerBG.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.videoGallery .swiper {
  border-radius: 15px !important;
  padding: 45px;
  width: 100% !important;
  height: 100% !important;
}

.videoGallery .swiper-slide {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoGallery .swiper-slide h3 {
  font-size: 18px;
  color: #354459;
  font-weight: normal;
  padding: 30px 0 0 0;
}

@media screen and (max-width: 768px) {
  .videoGallery .swiper-slide h3 {
    font-size: 14px;
  }
}

.videoGallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoGallery video {
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.videoGallery video:focus {
  transform: scale(105%);
  box-shadow: 0px 8px 70px rgba(11, 46, 65, 0.12);
}

.videoGallery .swiper-pagination-fraction {
  color: #354459;
  font-weight: bold;
}

.videoGallery .swiper-button-next,
.videoGallery .swiper-button-prev {
  transition: all .2s ease-out;
}

.videoGallery .swiper-button-next:after,
.videoGallery .swiper-button-prev:after {
  color: #354459;
  font-size: 22px;
}

.videoGallery .swiper-button-next:hover,
.videoGallery .swiper-button-prev:hover {
  width: 40px;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 35% !important;
  }
  .swiper-slide img {
    width: 120%;
  }
  video {
    border-radius: 15px;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=component.css.map */