
<h1 class="section-title container">دربـــاره ایمان مدائنی</h1>
<div id="about" class="about container col-11 col-md-12">
    <div class="about-image col-12 col-sm-12 col-md-5">
        <img src="img/AboutMe/a8ce2fec36fa4e17a25e8f763a6bcadd.webp" alt="درباره ایمان مدائنی" />
    </div>
    <div class="about-title col-12 col-sm-12 col-md-7">

        <h2>ایمان مدائنی هستم مدرس بین المللی و رسمی مایکروسافت، مدیر و موسس <a href="../barnamenevisan.org/index.html">انجمن برنامه نویسان</a>،<a href="../barnamenevisan.info/index.html">آموزشگاه برنامه نویسان</a>، <a href="../toplearn.com/index.html">سایت آموزش آنلاین تاپ لرن</a>، <a href="../barnamenevisan.co/index.html">گروه برنامه نویسان پایدار</a>، مجموعه تحقیقاتی برنامه نویسان پیشرو پایدار، همچنین <a href="../barnamenevis.ir/index.html">موتور جستجو برنامه نویسان</a> و سایت فریلنسر <a href="../getwork.ir/index.html">گت ورک</a></h2><h2>دارای مدارک Microsoft Certified Trainer – MCT وMCSD و MCP و MCSE و MCSA از مایکروسافت که در رزومه قابل مشاهده می باشد . <a href="#certificates">( مشاهده مدارک )</a></h2><h2>متولد 1367 ساکن تهران هستم ؛ فعالیتم در حوزه برنامه نویسی و آی تی را از سال 1383 شروع کردم و از سال 1386 بصورت حرفه ای وارد این عرصه شدم ، اکنون با گذشت 16 سال و پس از کسب تجربه و فنون برنامه نویسی و بازاریابی الکترونیکی در زمینه تدریس و مشاوره در این حوزه به سازمان های عمومی و خصوصی و عموم دانشجویان بصورت حضوری و غیر حضوری فعالیت میکنم.</h2><h2>از سال 1394 تا کنون مدرس بیش از 1200 دانشجو بصورت حضوری ، 800 دانشجو بصورت غیر حضوری و مشاور چندین سازمان و ارگان دولتی و شرکت های خصوصی بوده ام.</h2><h2><strong>جهت تایید صحت مدارک اینجانب میتوانید از طریق این </strong><a href="../mcp.microsoft.com/Anonymous/Transcript/Validate"><strong>لینک </strong></a><strong>اقدام کنید و Transcript ID: 1215678 و Access Code: 12345678 را وارد کنید .</strong></h2>

        <div class="about-counter justify-content-center justify-content-sm-between justify-content-md-between">
            <div class="counter">
                <div>
                    +
                    <div class="value" value="9725">0</div>
                </div>
                <span>مشتری خوشحال</span>
            </div>
            <div class="counter">
                <div>
                    +
                    <div class="value" value="9971">0</div>
                </div>
                <span>فنجان قهوه</span>
            </div>
            <div class="counter">
                <div>
                    +
                    <div class="value" value="247">0</div>
                </div>
                <span>پروژه های تکمیل شده</span>
            </div>
        </div>
    </div>
</div>