<h1 class="section-title container">تماس با من</h1>
<div class="contacts">
    <div class="contact container col-11 col-md-12" id="contacts">
        <div class="contact-inputs col-12 col-sm-12 col-md-6 col-lg-5">
            <div>
                <h1>پیام خود را بنویسید!</h1>
                <h6>
                    فرم تماس دوست ندارید؟ پس یک
                    <a href="mailto:iman@madaeny.com">ایمیل</a>
                    به من بفرستید. 👋
                </h6>
                <div class="contact-url">
                    <span>
                        <a href="mailto:iman@madaeny.com">iman@madaeny.com</a>
                    </span>
                    <span>
                        <a href="tel:09126700311">۰۹۱۲۶۷۰۰۳۱۱</a>
                    </span>
                </div>
            </div>

            <form class="w-100 p-0" action="/madaeny.com/Home/ContactUs" method="post">

                <input type="hidden" id="captchaInput" value="" data-val="true" data-val-required="The GoogleReCaptchaResponse field is required." name="GoogleReCaptchaResponse" />
                <div class="form-group">
                    <input class="input" placeholder="نام" type="text" data-val="true" data-val-maxlength="تعداد کاراکتر مجاز 100 می باشد" data-val-maxlength-max="100" data-val-required="لطفا نام را وارد کنید" id="Name" maxlength="100" name="Name" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input class="input" placeholder="نام خانوادگی" type="text" data-val="true" data-val-maxlength="تعداد کاراکتر مجاز 100 می باشد" data-val-maxlength-max="100" data-val-required="لطفا نام خانوادگی را وارد کنید" id="SurName" maxlength="100" name="SurName" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="SurName" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input class="input" placeholder="ایمیل" type="email" data-val="true" data-val-email="لظفا ایمیل معتبر وارد نمایید." data-val-maxlength="تعداد کاراکتر مجاز 250 می باشد" data-val-maxlength-max="250" data-val-required="لطفا ایمیل را وارد کنید" id="Email" maxlength="250" name="Email" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input class="input" placeholder="موضوع" type="text" data-val="true" data-val-maxlength="تعداد کاراکتر مجاز 500 می باشد" data-val-maxlength-max="500" data-val-required="لطفا موضوع را وارد کنید" id="Title" maxlength="500" name="Title" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <textarea rows="6" class="input textarea" placeholder="متن پیام ..." data-val="true" data-val-required="لطفا متن پیام را وارد کنید" id="Description" name="Description">
</textarea>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="button w-100">پیامتو بفرست رفیق</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8M7XnX6aHH5DrZXx5CnQoNiJPAUylhqiNKoKwBTSgW3hf6qALAIU7gVLa78SLAiVyqEJSDjp3etKvk8CJdkbxev9R7yYxWKuSOAMT2lyPRwMsMTt1AFqFqYMagqKirlbiwxWgCwoqX0W34eoZr9rcpw" /></form>

        </div>
        <div class="contact-title col-12 col-sm-12 col-md-6">
            <img class="img-fluid" src="/madaeny.com/assets/image/Contact/contactPicture.webp" alt="contact-us" />
        </div>
    </div>
</div>