<h1 class="section-title container">مدارک، افتخارات، تقدیر نامه</h1>
<div id="documents" class="documents col-12 col-md-12 container my-5">
    <ul class="nav nav-tabs justify-content-center"
        id="myTab"
        role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active"
                    id="honor10-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#honor10"
                    type="button"
                    role="tab"
                    aria-controls="honor10"
                    aria-selected="true"
                    tabindex=&quot;-1&quot;>
                مدارک
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link "
                    id="honor11-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#honor11"
                    type="button"
                    role="tab"
                    aria-controls="honor11"
                    aria-selected="false">
                تقدیر نامه ها
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link "
                    id="honor12-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#honor12"
                    type="button"
                    role="tab"
                    aria-controls="honor12"
                    aria-selected="false">
                افتخارات
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade active show"
             id="honor10"
             role="tabpanel"
             aria-labelledby="honor10-tab">
            <div class="honors-wrapper container col-11 col-md-12 image_gallery">

                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/0f307acafbe34484be9e1208fd396996.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/0f307acafbe34484be9e1208fd396996.jpg" alt="Microsoft Trainer" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Trainer</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/2a3e13ec99a944799771fa7549def733.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/2a3e13ec99a944799771fa7549def733.jpg" alt="C# Programming" />
                    </div>
                    <div class="card-body">
                        <h3>C# Programming</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/27b300cc968f4706955c68cee645bbfd.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/27b300cc968f4706955c68cee645bbfd.jpg" alt="IRQC" />
                    </div>
                    <div class="card-body">
                        <h3>IRQC</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/39eaf70bc84f48c398f93d688202b5d6.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/39eaf70bc84f48c398f93d688202b5d6.jpg" alt="MBA" />
                    </div>
                    <div class="card-body">
                        <h3>MBA</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/22790167f7d4409e828f10f8a3b7563c.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/22790167f7d4409e828f10f8a3b7563c.jpg" alt="DBA" />
                    </div>
                    <div class="card-body">
                        <h3>DBA</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/c86cfa2ef9c14cfbbfb3fd3739ec6500.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/c86cfa2ef9c14cfbbfb3fd3739ec6500.jpg" alt="Microsoft Certified Solutions Expert2018" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solutions Expert2018</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/65ebc65d51c24d16ae4850bce3b4242a.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/65ebc65d51c24d16ae4850bce3b4242a.jpg" alt="Microsoft Certified Solutions Associate2012" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solutions Associate2012</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/943e85f06df44885ab160312da15badc.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/943e85f06df44885ab160312da15badc.jpg" alt="Microsoft Certified Solutions Expert2017" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solutions Expert2017</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/982e3a0b6f0c4846899e567d25e47745.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/982e3a0b6f0c4846899e567d25e47745.jpg" alt="Microsoft Certified Solutions Associate2016" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solutions Associate2016</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/6dcc85b15d4f47018b91acbd3f13838a.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/6dcc85b15d4f47018b91acbd3f13838a.jpg" alt="MCSA Web Application" />
                    </div>
                    <div class="card-body">
                        <h3>MCSA Web Application</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/b4391724b0734bff9c39055f381ef6f7.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/b4391724b0734bff9c39055f381ef6f7.jpg" alt="Microsoft Certified Professional" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Professional</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/a4976c33e9fe4ba9b6ebca200f3e17da.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/a4976c33e9fe4ba9b6ebca200f3e17da.jpg" alt="Microsoft Certified Solution Expert Core" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solution Expert Core</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/6016493807004867bfb42f08787d8cd1.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/6016493807004867bfb42f08787d8cd1.jpg" alt="Microsoft Certified Solutions Developer" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Solutions Developer</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/8a079a19d2d345ed890a9b2ff4af1179.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/8a079a19d2d345ed890a9b2ff4af1179.jpg" alt="MCSE Sql Server" />
                    </div>
                    <div class="card-body">
                        <h3>MCSE Sql Server</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/7e096706deb043f78f0ab7a946d67e72.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/7e096706deb043f78f0ab7a946d67e72.jpg" alt="MCSA Sql Server" />
                    </div>
                    <div class="card-body">
                        <h3>MCSA Sql Server</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/b6321b74ddcb43ad98a2cfbf0d34db12.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/b6321b74ddcb43ad98a2cfbf0d34db12.jpg" alt="Azure Administrator Associate" />
                    </div>
                    <div class="card-body">
                        <h3>Azure Administrator Associate</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/2574d672e1134b0aac37e0cb4714eccb.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/2574d672e1134b0aac37e0cb4714eccb.jpg" alt="Microsoft Certified Azure Fundamentals" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Azure Fundamentals</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/747abf0d907847ecaff09710f6210446.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/747abf0d907847ecaff09710f6210446.jpg" alt="Azure Developer Associate" />
                    </div>
                    <div class="card-body">
                        <h3>Azure Developer Associate</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/94eaa4a9f26c424d99a7080dbd8e16e1.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/94eaa4a9f26c424d99a7080dbd8e16e1.jpg" alt="Azure Security Engineer Associate" />
                    </div>
                    <div class="card-body">
                        <h3>Azure Security Engineer Associate</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/fa7320abf643404cb4fc530bd1c5d470.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/fa7320abf643404cb4fc530bd1c5d470.jpg" alt="Azure DevOps Engineer Expert" />
                    </div>
                    <div class="card-body">
                        <h3>Azure DevOps Engineer Expert</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/83fc80cad7b2479f83669d555d4701a0.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/83fc80cad7b2479f83669d555d4701a0.jpg" alt="Azure Solutions Architect Expert" />
                    </div>
                    <div class="card-body">
                        <h3>Azure Solutions Architect Expert</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/a3424f23b69544c1bab0ee2ed5f09581.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/a3424f23b69544c1bab0ee2ed5f09581.jpg" alt="Microsoft Certified Trainer" />
                    </div>
                    <div class="card-body">
                        <h3>Microsoft Certified Trainer</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/bcd18bdd1ca14b478d405890686f1c28.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/bcd18bdd1ca14b478d405890686f1c28.jpg" alt="مدرک بین المللی NIKEcert" />
                    </div>
                    <div class="card-body">
                        <h3>مدرک بین المللی NIKEcert</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/6fb745aa139f4fd19848ffe632ced173.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/6fb745aa139f4fd19848ffe632ced173.jpg" alt="TUW" />
                    </div>
                    <div class="card-body">
                        <h3>TUW</h3>
                    </div>
                </a>

            </div>
        </div>
        <div class="tab-pane fade "
             id="honor11"
             role="tabpanel"
             aria-labelledby="honor11-tab">
            <div class="honors-wrapper container col-11 col-md-12 image_gallery">

                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/1549bf7d5a214c92beb567aee09fccf4.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/1549bf7d5a214c92beb567aee09fccf4.jpg" alt="ایران خودرو" />
                    </div>
                    <div class="card-body">
                        <h3>ایران خودرو</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/ed713c27bd74453ca07df791ee6c0435.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/ed713c27bd74453ca07df791ee6c0435.jpg" alt="ایران خودرو2" />
                    </div>
                    <div class="card-body">
                        <h3>ایران خودرو2</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/7aeb78ba8ffb4f449e3a3d761d6ea0a2.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/7aeb78ba8ffb4f449e3a3d761d6ea0a2.jpg" alt="پرشیا خودرو" />
                    </div>
                    <div class="card-body">
                        <h3>پرشیا خودرو</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/ce59779b988641238d080d878c0a3ccf.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/ce59779b988641238d080d878c0a3ccf.jpg" alt="سایپا یدک" />
                    </div>
                    <div class="card-body">
                        <h3>سایپا یدک</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/7aee931bcb214e64bc3b45feed00cf99.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/7aee931bcb214e64bc3b45feed00cf99.jpg" alt="کشت و صنعت رژین تاک" />
                    </div>
                    <div class="card-body">
                        <h3>کشت و صنعت رژین تاک</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/036b68df129a4a7abf660d911b475413.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/036b68df129a4a7abf660d911b475413.jpg" alt="گروه پلیمر بوشهر" />
                    </div>
                    <div class="card-body">
                        <h3>گروه پلیمر بوشهر</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/05aa4a735fae4b629d7866b7b05f2851.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/05aa4a735fae4b629d7866b7b05f2851.jpg" alt="گروه پلیمر بوشهر2" />
                    </div>
                    <div class="card-body">
                        <h3>گروه پلیمر بوشهر2</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/813156ac5a2848eb82ed17ba43a9cf4b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/813156ac5a2848eb82ed17ba43a9cf4b.jpg" alt="گسترش انفورماتیک ایرانیان" />
                    </div>
                    <div class="card-body">
                        <h3>گسترش انفورماتیک ایرانیان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/f555030b3f654dba8937163dcb6c6178.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/f555030b3f654dba8937163dcb6c6178.jpg" alt="منطقه آزاد قشم" />
                    </div>
                    <div class="card-body">
                        <h3>منطقه آزاد قشم</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/8e1eb30b90184fe89d6c865cc488e161.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/8e1eb30b90184fe89d6c865cc488e161.jpg" alt="منطقه آزاد قشم2" />
                    </div>
                    <div class="card-body">
                        <h3>منطقه آزاد قشم2</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/cec63f92117c4b269f81eff400ba583a.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/cec63f92117c4b269f81eff400ba583a.jpeg" alt="نهمین اجلاس سراسری رضایتمندی مشتری" />
                    </div>
                    <div class="card-body">
                        <h3>نهمین اجلاس سراسری رضایتمندی مشتری</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/891a3dbdea0840f38f9410b7b12222c3.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/891a3dbdea0840f38f9410b7b12222c3.jpg" alt="مجمع مدیران ایران" />
                    </div>
                    <div class="card-body">
                        <h3>مجمع مدیران ایران</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/20520fa10c3a438a8e4403f348196836.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/20520fa10c3a438a8e4403f348196836.jpg" alt="اجلاس هاتف" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس هاتف</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/53e41bf8cf5b4ee8ba748a95ff18495e.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/53e41bf8cf5b4ee8ba748a95ff18495e.jpg" alt="اجلاس هاتف - آکامی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس هاتف - آکامی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/177dff4d80854eae95b687dc04fe89a9.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/177dff4d80854eae95b687dc04fe89a9.jpg" alt="اجلاس سراسری مدیران ارزش آفرین - تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس سراسری مدیران ارزش آفرین - تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/4e0bd955049045e38b15ce8f5c49f41c.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/4e0bd955049045e38b15ce8f5c49f41c.jpg" alt="اجلاس سراسری مدیران ارزش آفرین - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس سراسری مدیران ارزش آفرین - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/b5a9a104f34948b59c3a3580d4e9366e.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/b5a9a104f34948b59c3a3580d4e9366e.jpg" alt="مگا موتور" />
                    </div>
                    <div class="card-body">
                        <h3>مگا موتور</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/89666c457633416eb83bc11b47990578.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/89666c457633416eb83bc11b47990578.jpg" alt="هفتمین اجلاس نشان عالی مدیر سال - تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>هفتمین اجلاس نشان عالی مدیر سال - تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/d99bfa086c7e4893b7e753ceb5a00325.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/d99bfa086c7e4893b7e753ceb5a00325.jpg" alt="پنجمین اجلاس سراسری تکریم از چهره های نامی صنعت و اقتصاد کشور - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>پنجمین اجلاس سراسری تکریم از چهره های نامی صنعت و اقتصاد کشور - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/2ea6a0324ade453cba1df7a784993e25.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/2ea6a0324ade453cba1df7a784993e25.jpg" alt="هفتمین اجلاس نشان عالی مدیر سال - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>هفتمین اجلاس نشان عالی مدیر سال - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/8d07d97e2c954286851405459f05b71b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/8d07d97e2c954286851405459f05b71b.jpg" alt="هشتمین اجلاس سراسری نشان عالی مدیر سال 1402 - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>هشتمین اجلاس سراسری نشان عالی مدیر سال 1402 - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/8fb4a75c22b449fdbe30e03c0d78959b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/8fb4a75c22b449fdbe30e03c0d78959b.jpg" alt="صدا و سیما سال 98" />
                    </div>
                    <div class="card-body">
                        <h3>صدا و سیما سال 98</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/f57e49a444da43fa9d1b508f2b62ac12.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/f57e49a444da43fa9d1b508f2b62ac12.jpg" alt="صدا و سیما سال 97" />
                    </div>
                    <div class="card-body">
                        <h3>صدا و سیما سال 97</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/fcd9297d0c12447dbfd3da2989a2ca65.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/fcd9297d0c12447dbfd3da2989a2ca65.jpg" alt="دانشگاه پیام نور ، دکترا" />
                    </div>
                    <div class="card-body">
                        <h3>دانشگاه پیام نور ، دکترا</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/eea25b8010de4ae8b9f64ada3f39e636.png">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/eea25b8010de4ae8b9f64ada3f39e636.png" alt="تدریس در پیام نور" />
                    </div>
                    <div class="card-body">
                        <h3>تدریس در پیام نور</h3>
                    </div>
                </a>

            </div>
        </div>
        <div class="tab-pane fade "
             id="honor12"
             role="tabpanel"
             aria-labelledby="honor12-tab">
            <div class="honors-wrapper container col-11 col-md-12 image_gallery">

                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/aae3b591329a49b3a290e451a4fabfd3.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/aae3b591329a49b3a290e451a4fabfd3.jpg" alt="مجوز فعالیت رسانه صوت و تصویر فراگیر" />
                    </div>
                    <div class="card-body">
                        <h3>مجوز فعالیت رسانه صوت و تصویر فراگیر</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/a27324c98e1c439985416adf60c62414.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/a27324c98e1c439985416adf60c62414.jpg" alt="QAL TopLearn" />
                    </div>
                    <div class="card-body">
                        <h3>QAL TopLearn</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/0c94c5b80b4444c7802a524b31965351.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/0c94c5b80b4444c7802a524b31965351.jpg" alt="QAL Barnamenevisan" />
                    </div>
                    <div class="card-body">
                        <h3>QAL Barnamenevisan</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/9d6bc1e3ff4442d9b153994d3e069d8f.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/9d6bc1e3ff4442d9b153994d3e069d8f.jpg" alt="Toplearn ISO 9001 2015" />
                    </div>
                    <div class="card-body">
                        <h3>Toplearn ISO 9001 2015</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/1880ae745fcb49df83360309afcf0a25.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/1880ae745fcb49df83360309afcf0a25.jpg" alt="Toplearn ISO 10004 2018" />
                    </div>
                    <div class="card-body">
                        <h3>Toplearn ISO 10004 2018</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/581298f1de1f4d87b91dd82c5c576ca8.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/581298f1de1f4d87b91dd82c5c576ca8.jpg" alt="Barnamenevisan ISO 9001 2015" />
                    </div>
                    <div class="card-body">
                        <h3>Barnamenevisan ISO 9001 2015</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/7f04727aba4a4fd290f41a460f7cf96e.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/7f04727aba4a4fd290f41a460f7cf96e.jpg" alt="Toplearn ISO 10002 2018" />
                    </div>
                    <div class="card-body">
                        <h3>Toplearn ISO 10002 2018</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/55f2194993ed4111872f3f6868e89a76.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/55f2194993ed4111872f3f6868e89a76.jpg" alt="Barnamenevisan ISO 10004 2018" />
                    </div>
                    <div class="card-body">
                        <h3>Barnamenevisan ISO 10004 2018</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/4c169f2eb6ba44dea677a41859b7ab2e.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/4c169f2eb6ba44dea677a41859b7ab2e.jpg" alt="Barnamenevisan ISO 10002 2018" />
                    </div>
                    <div class="card-body">
                        <h3>Barnamenevisan ISO 10002 2018</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/d04dc56925e54fb981d371c1f4bdafd6.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/d04dc56925e54fb981d371c1f4bdafd6.jpg" alt="Armcert" />
                    </div>
                    <div class="card-body">
                        <h3>Armcert</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/e12f69a41d714d00a9ede4edc9f5446c.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/e12f69a41d714d00a9ede4edc9f5446c.jpg" alt="Hamavard" />
                    </div>
                    <div class="card-body">
                        <h3>Hamavard</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/91a49a4541e54a9ebb80c305f01d11ed.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/91a49a4541e54a9ebb80c305f01d11ed.jpg" alt="نهمین اجلاس سراسری رضایتمندی مشتری" />
                    </div>
                    <div class="card-body">
                        <h3>نهمین اجلاس سراسری رضایتمندی مشتری</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/01cf889f92a146f7a275c5de944539af.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/01cf889f92a146f7a275c5de944539af.jpeg" alt="ششمین اجلاس نشان منتخب" />
                    </div>
                    <div class="card-body">
                        <h3>ششمین اجلاس نشان منتخب</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/e2e297f6990f4a3281743d14604694ee.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/e2e297f6990f4a3281743d14604694ee.JPG" alt="جایزه ملی هاتف تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>جایزه ملی هاتف تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/77abe208756d470f8eb800335e76ea1f.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/77abe208756d470f8eb800335e76ea1f.jpeg" alt="جایزه ملی هاتف آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>جایزه ملی هاتف آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/89acc6f850ec47bfa76e637f18ee6402.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/89acc6f850ec47bfa76e637f18ee6402.jpg" alt="هفتمین اجلاس نشان عالی مدیر سال - تاپ لرن " />
                    </div>
                    <div class="card-body">
                        <h3>هفتمین اجلاس نشان عالی مدیر سال - تاپ لرن </h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/271002d0dcd64d56995768d5d048eefe.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/271002d0dcd64d56995768d5d048eefe.JPG" alt="هفتمین اجلاس نشان عالی مدیر سال - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>هفتمین اجلاس نشان عالی مدیر سال - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/c9ca37610d2541bd922558bd5023d604.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/c9ca37610d2541bd922558bd5023d604.JPG" alt="هشتمین اجلاس سراسری رضایتمندی مشتری" />
                    </div>
                    <div class="card-body">
                        <h3>هشتمین اجلاس سراسری رضایتمندی مشتری</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/f761a19d29ad41959e7f453ff0a1a134.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/f761a19d29ad41959e7f453ff0a1a134.JPG" alt="یکصد برند ملی - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>یکصد برند ملی - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/6ca65213c0e546a6a1bcc80c49e0bd0e.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/6ca65213c0e546a6a1bcc80c49e0bd0e.JPG" alt="اجلاس سراسری برند ملی، اعتماد ملی" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس سراسری برند ملی، اعتماد ملی</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/9dafafa3c19642438f5ab9a4b903d9f1.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/9dafafa3c19642438f5ab9a4b903d9f1.JPG" alt="سومین اجلاس سراسری 100 واحد مشتری مدار" />
                    </div>
                    <div class="card-body">
                        <h3>سومین اجلاس سراسری 100 واحد مشتری مدار</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/1d137ad07f4743f48e389df8af7fe87b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/1d137ad07f4743f48e389df8af7fe87b.JPG" alt="پنجمین اجلاس چهره های نامی صنعت و اقتصاد" />
                    </div>
                    <div class="card-body">
                        <h3>پنجمین اجلاس چهره های نامی صنعت و اقتصاد</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/921bcc8ddb07406e8d9b3aff7bc26d9f.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/921bcc8ddb07406e8d9b3aff7bc26d9f.JPG" alt="اجلاس سراسری برندملی، اعتبار ملی" />
                    </div>
                    <div class="card-body">
                        <h3>اجلاس سراسری برندملی، اعتبار ملی</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/ea3597b42da0496bbe0573e4dedbe242.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/ea3597b42da0496bbe0573e4dedbe242.JPG" alt="دوازدهمین اجلاس سراسری رضایتمندی مشتری - آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>دوازدهمین اجلاس سراسری رضایتمندی مشتری - آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/3ce755b785b643d19af4d7e71061de5d.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/3ce755b785b643d19af4d7e71061de5d.JPG" alt="چهارمین اجلاس سراسری چهره های نامی صنعت، معدن و تجارت - تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>چهارمین اجلاس سراسری چهره های نامی صنعت، معدن و تجارت - تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/b70c580a2bb343d2b257cddabe5ae934.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/b70c580a2bb343d2b257cddabe5ae934.jpg" alt="دومین اجلاس مدیران ارزش آفرین تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>دومین اجلاس مدیران ارزش آفرین تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/2d08e0a590264efe907a4ec507e1999d.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/2d08e0a590264efe907a4ec507e1999d.jpg" alt="دومین اجلاس مدیران ارزش آفرین آکادمی برنامه نویسان" />
                    </div>
                    <div class="card-body">
                        <h3>دومین اجلاس مدیران ارزش آفرین آکادمی برنامه نویسان</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/734161fa4afe49c98320b1e0cfc70a7b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/734161fa4afe49c98320b1e0cfc70a7b.jpg" alt="هشتمین اجلاس سراسری رضایتمندی مشتری تاپ لرن" />
                    </div>
                    <div class="card-body">
                        <h3>هشتمین اجلاس سراسری رضایتمندی مشتری تاپ لرن</h3>
                    </div>
                </a>
                <a class="honors-card col-12 col-sm-6 col-md-3" href="img/Honor/Main/e95531882d1540cc8a0ee11c73ad6b6b.jpg">
                    <div class="card-header">
                        <img class="img-fluid h-100 lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Honor/Main/e95531882d1540cc8a0ee11c73ad6b6b.jpg" alt="چهارمین کنگره سراسری برند ملی، اعتماد ملی" />
                    </div>
                    <div class="card-body">
                        <h3>چهارمین کنگره سراسری برند ملی، اعتماد ملی</h3>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>