<div b-mvpyz72na4 class="footer-wrapper">
    <div b-mvpyz72na4 class="footer">
        <div b-mvpyz72na4 class="footer-title text-center">
            <h3 b-mvpyz72na4>
                © 1404
                تمامی حقوق مادی و معنوی این سایت متعلق به   می‌باشد.
            </h3>
        </div>
    </div>
</div>
