
<div class="navbar-wrapper col-12 d-flex justify-content-center">
    <nav class="navbar col-11 col-md-12 container navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="img/SiteSetting/Logo/Light/0a01426cbd434cee8ebb44ab1e8e46ff.png" alt="ایمان مدائنی" class="logo" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#about">حساب کاربری</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">

                            @Html.ActionLink("ورود", "Login", "Account", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("ثبت نام", "Register", "Account", null, new { @class = "nav-link" })
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="">دانلود کتاب</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">درباره من</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skill">تخصص ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#documents">مدارک من</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">خدمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">تجربه های من</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#blogs">نوشته ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts"> ارتباط با من</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>