@{
	ViewData["Title"] = "ورود به حساب کاربری";
	Layout = "_AuthorizeLayout";
}


	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

			<div class="container-fluid">
				<div class="row">

					<!-- left -->

				<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center bg-light vh-100">
					<div class="text-center p-4">
						<h2 class="fw-bold text-primary">به سازنده رزومه خوش آمدید!</h2>
						<p class="text-secondary">رزومه حرفه‌ای خودت رو بساز و به اشتراک بگذار.</p>
						<img src="~/assets/images/element/Forgot-Password.jpg" alt="ساخت رزومه آنلاین" class="img-fluid mt-4 rounded-2" style="max-height: 350px;">
					</div>
				</div>

					<!-- Right -->
					<div class="col-12 col-lg-6 d-flex justify-content-center">
						<div class="row my-5">
							<div class="col-sm-10 col-xl-12 m-auto">

								<!-- Title -->
								<span class="mb-0 fs-1">🤔</span>
								<h1 class="fs-4">فراموشی رمز عبور</h1>
								<h5 class="fw-light mb-4">برای دریافت رمز عبور جدید، آدرس ایمیل خود را وارد کنید.</h5>

								<!-- Form START -->
								<form>
									<!-- Email -->
									<div class="mb-4">
										<label for="exampleInputEmail1" class="form-label">ایمیل *</label>
										<div class="input-group input-group-lg">
											<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
											<input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="" id="exampleInputEmail1">
										</div>
									</div>
									<!-- Button -->
									<div class="align-items-center">
										<div class="d-grid">
											<button class="btn btn-primary mb-0" type="button">ارسال رمز</button>
										</div>
									</div>
								</form>
								<!-- Form END -->
							</div>
						</div> <!-- Row END -->
					</div>
				</div> <!-- Row END -->
			</div>
		</section>
	</main>
