@model OurResumeIR.Application.ViewModels.Account.LoginViewModel

@{
	ViewBag.Title  = "ورود به حساب کاربری";
    Layout = "_AuthorizeLayout";
}

<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
        <div class="container-fluid">
            <div class="row">

           
                <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center bg-light vh-100">
                    <div class="text-center p-4">
                        <h2 class="fw-bold text-primary">به سازنده رزومه خوش آمدید!</h2>
                        <p class="text-secondary">رزومه حرفه‌ای خودت رو بساز و به اشتراک بگذار.</p>
                        <img src="~/assets/images/element/login-resume.jpg" alt="ساخت رزومه آنلاین" class="img-fluid mt-4 rounded-2" style="max-height: 350px;">
                    </div>
                </div>

    
                <div class="col-12 col-lg-6 d-flex align-items-center vh-100">
                    <div class="w-100 px-4 px-lg-5">
                        <div class="text-center mb-4">
                            <span class="fs-1">👋</span>
                            <h1 class="fs-4 fw-bold">ورود به حساب کاربری</h1>
                            <p class="text-muted">از دیدن شما خوشحالیم، لطفاً وارد شوید.</p>
                        </div>

                        @Html.ValidationSummary()

                        <form asp-action="Login" asp-controller="Account" method="post" class="auth-form">
                   
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">ایمیل</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bg-light border-0"><i class="bi bi-envelope-fill text-muted"></i></span>
                                    <input asp-for="Email" class="form-control bg-light border-0" placeholder="" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger" />
                            </div>

                     
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">رمز عبور</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bg-light border-0"><i class="bi bi-lock-fill text-muted"></i></span>
                                    <input asp-for="Password" type="password" class="form-control bg-light border-0" placeholder="********" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger" />
                            </div>

                      
                            <div class="mb-3 form-check ">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">مرا به خاطر بسپار</label>
                            </div>

                            <div class="d-grid mb-3">
                                <button type="submit" class="btn btn-primary">ورود</button>
                            </div>

                 
                            <div class="text-center mb-3">
                                <a href="/Account/ForgotPassword" class="text-decoration-none text-secondary">رمز خود را فراموش کرده‌اید؟</a>
                            </div>

                       
                            <div class="mt-4 text-center">
                                <span>حساب کاربری ندارید؟ <a href="/Account/Register">ثبت نام</a></span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
