@model OurResumeIR.Application.ViewModels.Account.RegisterViewModel

@{
	ViewBag.Title  = "ثبت نام ";
    Layout = "_AuthorizeLayout";
}

<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

        <div class="container-fluid">
            <div class="row">
                <!-- سمت چپ: تصویر و توضیح -->
                <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                    <div class="p-3 p-lg-5 text-center">
                        <h2 class="fw-bold fs-3">ساخت رزومه حرفه‌ای فقط با چند کلیک!</h2>
                        <p class="mb-0 h6 fw-light">همین حالا عضو شو و رزومه آنلاین خودت رو بساز</p>
                        <img src="/assets/images/element/resume-builder.jpg" class="mt-5 img-fluid " style="border-radius:10px" alt="ساخت رزومه آنلاین">
                        <p class="mt-4 h6 ">رزومه‌تو بساز، لینک بده، شغل پیدا کن!</p>
                    </div>
                </div>

                <!-- سمت راست: فرم ثبت نام -->
                <div class="col-12 col-lg-6 m-auto">
                    <div class="row my-5">
                        <div class="col-sm-10 col-xl-8 m-auto">
                            <p style="color:red;text-align:center">@ViewBag.Message</p>
                            <h2 class="mb-2">ثبت‌نام</h2>
                            <p class="mb-4 text-muted">یک حساب کاربری بساز و مسیر شغلیت را آغاز کن.</p>

                            @Html.ValidationSummary()

                            <form asp-controller="Account" asp-action="Register" method="post" class="auth-form">

                                <!-- ایمیل -->
                                <div class="mb-4">
                                    <label class="form-label">ایمیل</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light border-0 text-secondary px-3">
                                            <i class="bi bi-envelope-fill"></i>
                                        </span>
                                        <input type="email" asp-for="Email" class="form-control border-0 bg-light ps-1 ql-direction-rtl " placeholder="ایمیل خود را وارد کنید">
                                        <span asp-validation-for="Email" class="text-danger" />
                                    </div>
                                </div>

                                <!-- رمز عبور -->
                                <div class="mb-4">
                                    <label class="form-label">رمز عبور *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light border-0 text-secondary px-3">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        <input type="password" asp-for="Password" class="form-control border-0 bg-light ps-1" placeholder="********">
                                        <span asp-validation-for="Password" class="text-danger" />
                                    </div>
                                </div>

                                <!-- تکرار رمز -->
                                <div class="mb-4">
                                    <label class="form-label">تایید رمز عبور *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light border-0 text-secondary px-3">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        <input type="password" asp-for="RePassword" class="form-control border-0 bg-light ps-1" placeholder="********">
                                        <span asp-validation-for="RePassword" class="text-danger" />
                                    </div>
                                </div>
                           
                                <!-- دکمه ثبت نام -->
                                <div class="d-grid">
                                    <input type="submit" value="ثبت‌نام" class="btn btn-primary btn-lg" />
                                </div>
                            </form>

                            <!-- ورود -->
                            <div class="mt-4 text-center">
                                <span>حساب دارید؟ <a href="/Account/Login">وارد شوید</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
