@using OurResumeIR.Application.ViewModels.Experience
@model IEnumerable< OurResumeIR.Application.ViewModels.Document.DocumentVM>
@{
	Layout = "_ProfileLayout";
	//	ViewBag.Title = "لیست تخصص‌ها";
}
<div class="col-xl-9">
	<div class="card bg-transparent border rounded-3">
		<div class="card-header bg-transparent border-bottom d-flex justify-content-between">
			<h3 class="mb-0 fs-5 ff-vb">لیست تخصص‌ها</h3>
			@* 		<a class="btn btn-success btn-sm" asp-action="Create" asp-controller="ManageDocument" asp-area="User">افزودن تخصص جدید</a>
	 *@	</div>

		<div class="card-body">
			<table class="table table-bordered text-center align-middle">
				<thead>
					<tr>
						<th></th>
						<th> نام</th>
						<th>عملیات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<a href="#">
									<img src="@item.ImageName.ConvartImagePathForDocument()" class="img-thumbnail" width="50" height="50" />
								</a>
							</td>
							<td>@item.Name</td>
							<td>
								<a asp-action="Update" asp-route-id="@(item.Id)" class="btn btn-warning btn-sm">ویرایش</a>
								<form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
									<button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('آیا از حذف اطمینان دارید؟')">حذف</button>
								</form>
							</td>
						</tr>
					}
				

				</tbody>
			</table>
		</div>
	</div>
</div>