<div class="brands swiper mySwiper container col-11">
	<div class="swiper-wrapper gap-3">

		<div class="swiper-slide w-25">
			<a target="_blank" href="../barnamenevisan.org/index.html" title="barnamenevisan.org">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/c4dc8b8101e14f2589e7de4f3ae9c553.png" alt="barnamenevisan.org" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../toplearn.com/index.html" title="تاپ لرن">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/cc491d9ae0d34c7f8208c75c3dfaad74.png" alt="تاپ لرن" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../barnamenevisan.info/index.html" title="آکادمی برنامه نویسان">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/c553b2ce05b6438faa73771b17093385.png" alt="آکادمی برنامه نویسان" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../learnby.ir/index.html" title="لرن بای">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/ea6ed090599546ed879d036889590fdd.png" alt="لرن بای" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../agahidooni.com/index.html" title="آگهی دونی">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/ad2bb18e26464336a1aa6febdf6c988d.jpg" alt="آگهی دونی" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../barnamenevisan.co/index.html" title="barnamenevisan.co">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/becd9870e6c5478882e919d659ac6fd1.png" alt="barnamenevisan.co" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../themeshop.ir/index.html" title="تم شاپ">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/bdd9d8a7d9274bd3bf5c7e57d81ba00b.png" alt="تم شاپ" />
			</a>
		</div>
		<div class="swiper-slide w-25">
			<a target="_blank" href="../getwork.ir/index.html" title="گت ورک">
				<img class="lazy" src="/madaeny.com/assets/image/LazyLoad/logo_lazy.webp" data-src="/img/Brand/Main/51b0ca9a5f384d1b804e841da3fe8321.png" alt="گت ورک" />
			</a>
		</div>
	</div>
	<!-- <div class="swiper-pagination"></div> -->
</div>