
<div class="header">
    <div class="container col-11 col-md-12 d-flex justify-content-between align-items-center flex-wrap">
        <div class="header-title col-12 col-sm-12 col-md-6 order-1 order-md-0">
            <header class="main-titles">ایمان مدائنی</header>
            <h3 class="sub-title">
                من
            @*     <span id="text-typist"></span> *@هستم !
            </h3>
            <div class="container d-flex align-items-center flex-wrap">
          @*       <a class="button" href="">
                    دانلود رزومه <i class="bi bi-download"></i>
                </a> *@
                <div class="media-wrapper">
                    <a href="../t.me/madaeny" target="_blank">
                        <i class="bi bi-telegram icon"></i>
                    </a>
                    <a href="../www.instagram.com/iman_madaeny/index.html" target="_blank">
                        <i class="bi bi-instagram icon"></i>
                    </a>
                    <a href="../twitter.com/madaeny" target="_blank">
                        <i class="bi bi-twitter icon"></i>
                    </a>
                    <a href="../www.linkedin.com/in/iman-madaeny-01a166b3.html" target="_blank">
                        <i class="bi bi-linkedin icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Header image -->
        <div class="header-image col-12 col-sm-12 col-md-6 order-0 order-md-1">
            <img src="/madaeny.com/img/SiteSetting/39735d43105147c3a2773e225dd1257d.webp" alt="" />
        </div>
        <div class="scrollbar">
            <a href="#about"
               class="d-flex flex-column justify-content-center align-items-center"
               style="color: white !important ; text-decoration: none">
                <img src="/madaeny.com/assets/image/mouseDown.png" alt="" class="scroll-img" />
                اسکرول کنید
            </a>
        </div>
    </div>
</div>