<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<title>@ViewBag.Title</title>


	@await RenderSectionAsync("Styles", required: false)
	<partial name="./Partials/ProfileLayout/_MetaTag" />
	<partial name="./Partials/ProfileLayout/_Link" />




</head>

<body>

	<!-- Header START -->
@* <partial name="./Partials/ProfileLayout/_Header" /> *@
	<!-- Header END -->
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
		Page Banner START -->
		@await Component.InvokeAsync("ProFileUser_ProfileLayout")
		<!-- =======================
		Page Banner END -->
		<!-- =======================
		Page content START -->

		<section class="pt-0">
			<div class="container">
				<div class="row">

					<!-- Left sidebar START -->
					<div class="col-xl-3">
						<!-- Responsive offcanvas body START -->
						<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">پروفایل من</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<partial name="./Partials/ProfileLayout/_MenuBar" />
						</div>
						<!-- Responsive offcanvas body END -->
					</div>
					<!-- Left sidebar END -->
					@RenderBody()
				</div>
			</div>
		</section>
	
		<!-- =======================
		Page content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	<!-- =======================
	Footer START -->
<partial name="./Partials/ProfileLayout/_Footer" />
	<!-- =======================
	Footer END -->
	<!-- Back to top -->
	<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

	<partial name="./Partials/ProfileLayout/_Script" />
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>


