<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - OurResumeIR.MVC</title>
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/madaeny.com/img/favicon.ico" />

   

	<link rel="stylesheet" href="/madaeny.com/assets/css/bootstrap.min.css" />

	<!-- bootstrap Icon -->
	<link rel="stylesheet" href="/madaeny.com/assets/css/bootstrap-icons.min.css" />

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="/madaeny.com/assets/css/swiper-bundle.min.css" />

	<!-- PhotoSwipeLightbox  CSS -->
	<link rel="stylesheet" href="/madaeny.com/assets/node_modules/photoswipe/dist/photoswipe.html" />

	<!-- Lightbox CDN -->
	<link rel="stylesheet" href="/madaeny.com/../cdn.jsdelivr.net/npm/lightgallery.js%401.4.0/dist/css/lightgallery.min.css" />

	<!-- Link main style -->
	<link rel="stylesheet" href="/madaeny.com/assets/css/component.css" />
	<link rel="stylesheet" href="/madaeny.com/assets/css/main.css" />

	<!-- Page Styles -->
	<link rel="stylesheet" href="/madaeny.com/Admin/lib/toastr/toastr.min.css" />
	
	<!-- SweetAlert2 CSS -->
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

</head>