@using OurResumeIR.Application.ViewModels.MySkills
@model AddMySkillsViewModel

@{
    Layout = "_ProfileLayout";
    ViewBag.Title = "افزودن تخصص جدید";
}

<div class="col-xl-9">
    <div class="card bg-transparent border rounded-3">
        <div  class="card-header bg-transparent border-bottom d-flex justify-content-between">
            <h3  class="mb-0 fs-5 ff-vb">افزودن تخصص جدید</h3>
        </div>

        <div class="card-body">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
            <form asp-action="AddMySkills" asp-controller="ManageSkill" asp-area="User" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                       @*  <input asp-for="UserId" type="hidden" /> *@
                  


                        <label asp-for="SelectedSkillId" class="form-label">نام تخصص</label>
                        <select asp-for="SelectedSkillId" asp-items="@Model.Skills" class="form-select text-end" dir="rtl">
                            <option value="" dir="rtl" style="text-align: right;">لطفاً انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="SelectedSkillId" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="SelectedSkillLevelId" class="form-label">سطح تخصص</label>
                        <select asp-for="SelectedSkillLevelId" asp-items="@Model.SkillLevels" class="form-select text-end" dir="rtl">
                            <option value="" dir="rtl" style="text-align: right;">لطفاً انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="SelectedSkillLevelId" class="text-danger"></span>
                    </div>
                </div>


                <div class="text-end">
                    <button type="submit" class="btn btn-primary">ذخیره تخصص</button>
                    <a asp-action="MySkillsList" class="btn btn-secondary">انصراف</a>
                </div>
            </form>
        </div>
    </div>
</div>
