
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <title>Eduport - قالب HTML دوره آنلاین و آموزش</title>

<<<<<<< HEAD
    <!-- Meta Tags -->
    <partial name="_AuthorizeMetaTagPartial" />

    <!-- Dark mode -->
    @* <partial name="./Partials/Layout/_AuthorizeScriptPartial" /> *@
    <partial name="_AuthorizeScriptPartial" />
=======
	<!-- Meta Tags -->
	<partial name="_AuthorizeMetaTagPartial" />

	<!-- Dark mode -->
	<partial name="_AuthorizeScriptPartial" />

>>>>>>> 6c8aac96bb6cb6195b9d302671a974b47f9faa29

    <!-- Links -->
    @* <partial name="./Partials/Layout/_AuthorizeLinkPartial" /> *@
    <partial name="_AuthorizeLinkPartial" />

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    @RenderBody();
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

    <!-- Bootstrap JS -->
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Functions -->
    <script src="/assets/js/functions.js"></script>

</body>

</html>