<!DOCTYPE html>

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<!-- Mirrored from madaeny.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Mar 2025 05:39:24 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<partial name="./Partials/Layout/_Link.cshtml" />
<body dir="rtl">
	<div b-mvpyz72na4 class="home-wrapper">

		<!-- Navbar -->


		<partial name="./Partials/Layout/_Menu" />
		<!-- Header -->
		@RenderBody()



		@* <partial name="./Partials/Layout/_Header" />
		<!-- Brand -->
		<!-- About -->
		<partial name="~/Views/Shared/Partials/Layout/_About.cshtml" />
		<!-- About -->
		<partial name="./Partials/Layout/_About" />


		<!-- Skils -->


		<partial name="./Partials/Layout/_Skill" />
		<!-- Documents -->


		<partial name="./Partials/Layout/_Document" />


		<!-- Banner Link -->




		<partial name="./Partials/Layout/_Experience" /> *@

		<!-- Blogs -->



		<partial name="./Partials/Layout/_Blog" />
		<!-- Contact -->



		<partial name="./Partials/Layout/_Contact" />


		<!-- Footer -->
		<partial name="./Partials/Layout/_Footer" />
	</div>

	<partial name="./Partials/Layout/_Script" />
	@await RenderSectionAsync("Scripts", required: false)

</body>

<!-- Mirrored from madaeny.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Mar 2025 05:44:44 GMT -->
</html>


