<h1 class="section-title container">آخرین مقالات</h1>
<div class="blogs container flex-column flex-md-row" id="blogs">
    <a href="https://toplearn.com/b/3381" target="_blank" style="text-decoration: none">
        <div class="blog-card col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="blog-header">
                <img class="lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Article/Main/704fbae197e247608e64ea68e7785699.jpg" alt="" />
            </div>
            <div class="blog-title">
                <h1>6 دلیل که &#x2B;&#x2B;C (سی پلاس پلاس) هنوز در حال استفاده است</h1>
                <span>
                    زبان برنامه نویسی معروف &#x2B;&#x2B;C (سی پلاس پلاس) یک زبان برنامه نویسی عمومی است که بیش از 40 سال است که برای برنامه نویسی بازی، مهندسی نرم افزار، ساختار داده...
                </span>
            </div>
        </div>
    </a>
    <a href="https://toplearn.com/b/3380" target="_blank" style="text-decoration: none">
        <div class="blog-card col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="blog-header">
                <img class="lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Article/Main/1e9b18e0a05f408fad1ea78c1e20d2f8.jpg" alt="" />
            </div>
            <div class="blog-title">
                <h1>8 دلیل انتخاب تایپ اسکریپت در سال 2022</h1>
                <span>
                    TypeScript به یک زبان محبوب برای توسعه برنامه‌های بزرگ تبدیل شده است. تایپ اسکریپت جاوااسکریپت جدید است، درست است؟
                </span>
            </div>
        </div>
    </a>
    <a href="https://toplearn.com/b/3379" target="_blank" style="text-decoration: none">
        <div class="blog-card col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="blog-header">
                <img class="lazy" src="/madaeny.com/assets/image/LazyLoad/honor_lazy.webp" data-src="/img/Article/Main/116d3272e3534a0fbae8c07a322cf3db.jpg" alt="" />
            </div>
            <div class="blog-title">
                <h1>12 ابزار رایگان برای طراحی API و تست آن</h1>
                <span>
                    ظهور API های RESTful با افزایش ابزارهایی برای ایجاد، آزمایش و مدیریت آنها همراه شده است. فرقی نمی کند که شما یک شخص مبتدی در طراحی API باشید که در حال طراحی اولین API خود هستید...
                </span>
            </div>
        </div>
    </a>
</div>