<h1 class="section-title container">تجربه های من</h1>
<div id="experience" class="experience container col-11 col-md-12">

    <div class="experience-title col-12 col-sm-12 col-md-6">
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            سابقه 13 سال تدریس برنامه نویسی به صورت خصوصی و در آموزشگاه‌ها
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            برگزاری بیش از 900 دوره آموزشی حضوری
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            آموزش بیش از 40000 دانشجو طی 13 سال
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شورای نگهبان (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با پلیمر بوشهر (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با صدا و سیما (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با مجموعه همراه مکانیک (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با بیمه البرز (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت پنبه ریز (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با ایران خودرو (مشاوره)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با فولاد کویر (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با پرشیا خودرو (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با های وب (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            چاپ بیش از 30 عنوان مقاله در نشریات تخصصی رایانه در کشور
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            تجزیه و تحلیل ، طراحی و پیاده سازی بیش از 80 وب سایت حرفه ای
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            برگزاری بیش از 3.000 ( سه هزار) ساعت کارگاه آموزش حضوری
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با مگا موتور (آموزش)
        </h1>
    </div>

    <div class="experience-title col-12 col-sm-12 col-md-6">
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با صنایع هواپیمایی جمهوری اسلامی ایران (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با صدا و سیما (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شهرداری تهران (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با آموزش و پرورش (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت پنبه ریز (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با ایران خودرو (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با سایپا (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با گسترش انفورماتیک ایران (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با تراکتور سازی تبریز (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            تالیف و ثبت بیش از 40 سرفصل و دوره آموزشی
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            5 سال مدیریت برنامه نویسان
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت فرآورده های نفتی ایران (نظارت)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت نفت کش های ایران (آموزش)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت نفت کش های ایران (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت آراز سنگ شکن (مشاوره)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت سایه سمن - سن ایچ (مشاوره)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت بازار بورس کالای ایران (پروژه)
        </h1>
        <h1>
            <i class="bi bi-lightning-charge-fill"></i>
            همکاری با شرکت نفت اهواز (آموزش)
        </h1>
    </div>

</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
